*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Variables */

:root {
	--font-family-primary: 'Jost', sans-serif;
	--font-family-secondary: 'Ubuntu', monospace;

	--font-weight-reg: 300;
	--font-weight-semibold: 500;
	--font-weight-bold: 700;

	--color-light: #fdfeff;
	--color-dark: #111927;
	--color-interactivity: #40d3fc;
	--color-accent: #f7b67e;

	--font-size-h1: 3rem;
	--font-size-h2: 2.5rem;
	--font-size-h3: 1.25rem;
	--font-size-body: 1rem;

	--box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
	:root {
		--font-size-h1: 4.5rem;
		--font-size-h2: 3.75rem;
		--font-size-h3: 1.5rem;
		--font-size-body: 1.125rem;
	}
}

/* Global styles */
html {
	scroll-behavior: smooth;
	scroll-padding-top: calc(
		2em + var(--font-size-h2)
	); /* padding-top: 1em +  padding-bottom: 1em + logo height */
}

html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--color-dark);
	color: var(--color-light);
	font-family: var(--font-family-primary);
	font-size: var(--font-size-body);
	font-weight: var(--font-weight-reg);
	line-height: 1.6;
}

a,
a:visited {
	color: var(--color-interactivity);
}

section {
	padding: 2.5em 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 3.75rem);
}

img {
	display: block;
	max-width: 100%;
}

h1,
h2,
h3 {
	line-height: 1;
	margin: 0;
}

:focus {
	outline: 2px solid var(--color-interactivity);
	outline-offset: 2px;
}

/* Typography */

h1 {
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-h3);
}

a {
	text-decoration: none;
}

a.btn,
button.btn {
	display: inline-block;
	padding: 0.5em 2.5em;
	background-color: var(--color-interactivity);
	color: var(--color-dark);
	text-decoration: none;
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: var(--font-family-secondary);
	font-weight: var(--font-weight-bold);
	transition: transform 200ms ease-in-out;
}

.btn:hover {
	transform: scale(1.1);
}

.section__title {
	font-family: var(--font-family-secondary);
	margin-bottom: 0.25em;
	padding: 0 1rem;
}

.section__subtitle {
	margin: 0;
	font-size: var(--font-size-h3);
	font-family: var(--font-family-primary);
	color: var(--color-dark);
	margin-bottom: 1em;
	padding: 0.5rem 1rem;
	line-height: 1.2;
}
